* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    --scrollbarBG: #141414;
    --thumbBG: #e50913;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    background: #141414;
}


/* Utility & Typo */


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%);
}

.header img {
    width: 175px;
}

.header .search-box {
    display: flex;
}

.header button {
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.header input {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
}

.header i {
    font-size: 18px;
    cursor: pointer;
}

.header i:hover {
    color: #e50913;
}

/* RISULTATI */
.emphasize {
    color: #fff;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.results {
    padding: 0 0 50px 50px ;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.noResult p {
    padding: 10px 0;
    font-size: 24px;
    color: #fff;
}
/* SCROLLBAR */

.results::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    width: 25%;
}

.results::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.results:hover {
    cursor:grab;
}

.category {
    padding: 50px 0 0 50px ;
}

.category h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
}

ul.list-result {
    display: inline-flex;
}


ul.list-result:hover li.box {
    opacity: .3;
}

li.box {
    width: 345px;
    height: 515px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transform: all 0.4s;
    margin: 50px 3px;
    transition: transform 0.7s;
}

li.box:hover,
li.box:focus {
    z-index: 1;
    transform:scale(1.2);
}

li.box:hover {
    box-shadow: 2px 0px 10px rgb(0, 0, 0, .7);
}

ul.list-result li.box:hover,
ul.list-result li.box:focus {
    opacity: 1;
}

li.box .overflow{
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 55%, rgba(20,20,20,0.75) 75%, rgba(20,20,20,0) 100%);
    color: #fff;
    opacity: 0;
    transition: opacity .4s;
}

li.box .overflow h3 {
    font-size: 24px;
    text-transform: uppercase;
}

li.box .overflow h4 {
    font-size: 22px;
    font-style: italic;
}

li.box .overflow .descr {
    margin: 20px 0;
}

li.box .overflow .lang-rate {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li.box .overflow .lang-rate .votes i .fa-star {
    margin: 0 5px;
}

li.box:hover .overflow,
li.box:focus .overflow {
    opacity: 1;
    z-index: 1;
}

.box img {
    width: 100%;
}

.language img {
    max-width: 25px;
    border-radius: 100%;
}

